<!DOCTYPE html>
<html>

<head>
	<title>Sports Leagues</title>
</head>

<body>

	<h1>All teams in the Atlantic Soccer Conference</h1>
	<ol>
		{% for team in atlantic_soccor_conference_teams %}
		<li>{{team.location}} {{team.team_name}}</li>
		{% empty %}
		<p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
	<h1>All (current) players on the Boston Penguins</h1>
	<ol>
		{% for player in players_in_boston_penguins %}
		<li>{{player.first_name}} {{player.last_name}}</li>
		{% empty %}
		<p>No leagues found. Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a
				href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
		{% endfor %}
	</ol>
	<h1>All (current) players in the International Collegiate Baseball Conference</h1>
	<h1>All (current) players in the American Conference of Amateur Football with the last name "Lopez."</h1>
	<h1>All football players</h1>
	<h1>All teams with a (current) player named "Sophia."</h1>
	<h1>All leagues with a (current) player named "Sophia."</h1>
	<h1>Every one with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</h1>
	<h1>All teams, past and present, that Samuel Evans has played with</h1>
	<h1>All players, past and present, with the Manitoba Tiger-Cats</h1>
	<h1>All players who were formerly (but aren't currently) with the Wichita Vikings</h1>
	<h1>Every team that Jacob Gray played for before he joined the Oregon Colts</h1>
	<h1>Everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</h1>
	<h1>All teams have had 12 or more players, past and present. (HINT: Look up the Django annotate function.)</h1>
	<h1>all players and count of teams played for, sorted by the number of teams they've played for</h1>
	<!-- <h1>Leagues</h1>
		<ol>
			{% for league in leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams</h1>
		<ol>
			{% for team in teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players</h1>
		<ol>
			{% for player in players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol> -->
</body>

</html>