<!doctype html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1 class="text-4xl mt-20 w-300 mx-auto">Welcome to The Wall app , to show all posts, add posts or add comments you must login using your account, if don't have one, Signup</h1>
    <a href="/login" class="block mx-auto mt-10 mb-10 bg-green-600 h-13 w-30 text-center pt-3 px-3">Login/Signup</a>
</body>

</html>