<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="flex justify-between items-center mt-10 w-450 mx-auto border-b-2 pb-5 mb-20">
        <h1 class="text-3xl">Welcome {{user.first_name}}</h1>
        <form action="/books/{{book.id}}/logout" method="post" class="flex justify-between w-40">
            {% csrf_token %}
            <a href="../" class="underline text-blue-500 text-[1.2em]">Go Back</a>
            <input type="submit" value="Logout" class="underline text-blue-400 text-[1.2em]">
        </form>
    </div>
    <div class="inline-block ml-15 w-160 mr-30">
        <h2 class="text-4xl mb-6">{{book.title}}</h2>
        <p class="text-[1.4em] mb-4">Added by: {{book.uploaded_by.first_name}} {{book.uploaded_by.last_name}}</p>
        <p class="text-[1.4em] mb-4">Added on: {{book.created_at}}</p>
        <p class="text-[1.4em] mb-4">Description: {{book.description}}</p>
    </div>
    <div class="inline-block pl-30 w-200 h-100 align-top overflow-y-auto">
        <p class="">Users Who Like This Book:</p>
        <ul class="list-disc list-inside ml-10">
            {% for user_who_like in book.users_who_likes.all %}
            <li>{{user_who_like.first_name}} {{user_who_like.last_name}}
                {% if user_who_like.id == user.id %}
                <form action="/books/{{book.id}}/un_favorite" method="post" class="inline-block ml-4">
                    {% csrf_token %}
                    <input type="submit" value="Un-Favorite" class="underline text-blue-500">
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% if user not in book.users_who_likes.all %}
        <form action="/books/{{book.id}}/add_to_your_favoriets_in_info" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{user.id}}" name="user_id">
            <input type="submit" class="underline text-blue-400" value="Add to Favorites">
        </form>
        {% endif %}
    </div>
</body>

</html>